{
    "webserver": {
        "ip": "0.0.0.0",
        "port": null,
        "ws_port": null,
        "username": null,
        "password": null
    },
    "exchanges": {
        "bitmex": {
            "key": null, 
            "secret": null
        },
        "bitmex_testnet": {
            "key": null,
            "secret": null
        },
        "bitfinex": {
            "key": null,
            "secret": null
        },
        "binance": {
            "key": null,
            "secret": null
        },
        "binance_futures": {
            "key": null,
            "secret": null
        }
    },
    "settings": {
        "warmup_time": null,
        "on_tick_time": null,
        "order": {
            "retry_count": null,
            "retry_ms": null
        }
    }
}