
{% block logs %}

<div class="row">
    <div class="col-md-12">
        <div id="logs_body">
            
        </div>
        {# <table id="summary_table_left" class="table table-bordered table-sm table-hover backtest-table">
            
        </table> #}
    </div>
</div>


{% endblock logs %}