
{% block orders %}

    {# {% if orders|default([])|length > 0 %} #}
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Orders</h3>
                <div class="card-tools">
                    <a href="/orders/{{ pair|url_encode }}/cancel-all" class="btn btn-tool btn-sm" title="Cancel All">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped table-valign-middle">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Side</th>
                        <th>Cancel</th>
                    </tr>
                    </thead>
                    <tbody id="table-orders-body">

                    </tbody>
                </table>
            </div>
        </div>
    {# {% endif %} #}

{% endblock orders %}
