
{% block pairs_list %}

    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Pairs </h6>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li class="pair-item"><a href="#">binance_future.BTCBUSD/binance_future.ETHBUSD</a></li>
                <li class="pair-item"><a href="#">binance_future.BTCBUSD/binance_future.ETHBUSD</a></li>
                <li class="pair-item"><a href="#">binance_future.BTCBUSD/binance_future.ETHBUSD</a></li>
                <li class="pair-item"><a href="#">binance_future.BTCBUSD/binance_future.ETHBUSD</a></li>
                <li class="pair-item"><a href="#">binance_future.BTCBUSD/binance_future.ETHBUSD</a></li>
                {# {% for pair in pairs %}
                    <li class="pair-item"><a href="/orders/{{ pair|url_encode }}">{{ pair }}</a></li>
                {% endfor %} #}
            </ul>
        </div>
    </div>

{% endblock pairs_list %}