
{% block summary %}

<div class="row">
    <div class="col-md-6">
        <table id="summary_table_left" class="table table-bordered table-sm table-hover backtest-table">
            
        </table>
    </div>

    <div class="col-md-6">
        <table id="summary_table_right" class="table table-bordered table-sm table-hover backtest-table">
        
        </table>
    </div>
</div>


{% endblock summary %}